<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.bluetooth"
    version="1.0.0">

    <name>Bluetooth</name>
    <description>Bluetooth.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/bluetooth.js" name="Bluetooth">
        <clobbers target="cordova.plugins.bluetooth" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/phonegap/plugins/bluetooth/Bluetooth.java" target-dir="src/com/phonegap/plugins/bluetooth" />
		<source-file src="src/android/com/phonegap/plugins/bluetooth/BluetoothPlugin.java" target-dir="src/com/phonegap/plugins/bluetooth" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Bluetooth">
                <param name="android-package" value="com.phonegap.plugins.bluetooth.Bluetooth" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>
    </platform>
</plugin>